[Unit]
Description=OpenRMF Zenoh router
After=network-online.target
Wants=network-online.target

[Container]
Image=quay.io/rhkp/openrmf-zenoh-router:latest
ContainerName=rmf-zenoh-router
Network=host
Pull=never
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
